.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    vertical-align: auto;
    color: white;
    background: url("../../photos/City-night.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: violet;
    font-family: 'Nunito', sans-serif;
    font-family: 'Permanent Marker', cursive;
    overflow-y: hidden;
}

.splash-screen .app-title {
    font-size: 4em;
    animation: title-transition .7s ease-in 2s forwards;
}

.splash-screen .app-logo {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    animation: logo-transition-in 3s ease-out 3s forwards;
    width: 25%;
}


@keyframes title-transition {
    100% {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
        font-size: 8rem;
    }
}

@keyframes logo-transition-in {
    75% {
        visibility: visible;
        opacity: 1;
        transition:  opacity 2s linear;
        width: 25%;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
        width: 50%;
    }
}


/* @media only screen and (max-width: 425px) {
    margin:
} */