.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    vertical-align: auto;
    font-size: 4em;
    color: white;
    background: #00aa77;
    background-image: url("../../photos/ZenBG-1.png"), url("../../photos/ZenBG-2.png");
    background-repeat: repeat-x, repeat;
    font-family: 'Nunito', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

